.card {
    // basic card class with padding
    background-color: white;
    box-shadow: $shadow-default;
    border-radius: $border-radius-default;
    margin: 7px 0;
    padding: 40px;

    &--box {
        text-align: center;
        max-width: 350px;
        margin: 0 auto;
    }
  }

.home-card {
    &__icon {
        height: 125px;
        margin-bottom: 20px;
    }
    &__title {
        position: relative;
    }
    &__badge {
        position: absolute;
        font-size: 0.4em;
        margin-left: 5px;
        color: mediumseagreen;
    }
    &__subtitle {
        color: $color-light-grey;
        font-weight: lighter;
    }
    &__btn {
        margin-top: 40px;
    }
}

.sig {
    text-align: center;
    color: $color-light-grey;
    margin: 20px 0;
    &__link {
        transition: all 0.2s ease;
        font-weight: bold;
        &:hover {
            color: lightgrey;
        }
    }
}